{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
        <div class="jumbotron">
          {% if not request.user == event.user %}

          <div style="float:left">
            <a href="{% url 'profile-user' user.id %}" class="btn btn-primary btn rounded-pill profile"> {{event.user}} </a>
          </div>

          {% endif%}
          <h2 class="masthead-subheading mb-0 text2" >Event Detail</h2>

		<h2>  {{event.title}}</h2>
    <h3>  {{event.description}}</h3>
    <h3> ({{event.location}})</h3>
    <h3> {{event.date}}</h3>
    <h3> {{event.time}}</h3>
    <h3>Seats: {{event.get_seat_left}}</h3>
    <h3>Organizer: {{event.user}}</h3>
      {% if request.user == event.user %}
    <a href="{% url 'event-update' event.id%}" class="btn btn-primary btn-xl rounded-pill mt-5">
      Update event
    </a><br>
    <a href="{% url 'event-delete' event.id%}" class="btn btn-danger btn-xl rounded-pill mt-5">
      Delete event
    </a><br><br>
    <table class="table">
  <thead class="thead-dark text2">
    <tr>
      <th scope="col">User Name</th>
      <th scope="col">Fisrt Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Seats</th>
    </tr>
  </thead>
  {% for booking in bookings%}
  <tbody>
    <tr>
      <th scope="row">{{booking.visitor}}</th>
      <td>{{booking.visitor.first_name}}</td>
      <td>{{booking.visitor.last_name}}</td>
      <td>{{booking.reserved_num}}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
    {% endif %}
    {% if not request.user == event.user %}
    {% if event.get_seat_left == 0 %}
    <a  class="btn btn-primary-full btn-xl rounded-pill mt-5">
      Full
    </a>
    {% else %}
    <a href="{% url 'reserve-event' event.id  %}" class="btn btn-primary btn-xl rounded-pill mt-5">
      Booking
    </a>
  {% endif %}
  {% endif %}
  </div>
</div>
</div>
<div class="bg-circle-1 bg-circle"></div>
<div class="bg-circle-2 bg-circle"></div>
<div class="bg-circle-3 bg-circle"></div>
<div class="bg-circle-4 bg-circle"></div>
</header>
{% endblock %}
