{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
        <div class="jumbotron">
          <div  style="float:right">
          <a href="{% url 'event-create'%}"><i class="fa fa-plus-circle xl" style="font-size:60px;color:#ffaaa5"></i></a>
          </div>
          <h2 class="masthead-subheading mb-0 text2" >My List</h2>
          <div class="row">
        	{% for event in events %}
          <div class="col-md-6 col-lg-4">
            <div class="card mb-3">
             <div class="card-body card-stile">
        			 <a href="{% url 'event-detail' event.id%}">
        				<h3 class='text1'>
         					{{event.title}}
                </h3>
                <h4 class='text1'>{{event.date}}</h4>
         					<h4 class='text1'>
         						{{event.location}}
         					</h4>
         			</a>
               </div>
           </div>
          </div>
        	{% endfor %}

      </div>
    </div>
  </div>
</div>
<div class="bg-circle-1 bg-circle"></div>
<div class="bg-circle-2 bg-circle"></div>
<div class="bg-circle-3 bg-circle"></div>
<div class="bg-circle-4 bg-circle"></div>
</header>
{% endblock %}
